@layer components {
  dl.scores {
    align-items: center;
    background: var(--c-border-contrast);
    border: 1px solid var(--c-border-contrast);
    display: grid;
    font-size: 20px;
    gap: 1px;
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    @media (min-width: 1620px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  .score {
    background: var(--c-bg);
    display: grid;
    gap: 4px;
    grid-template-columns: min-content min-content;
    justify-content: center;
    justify-items: center;
    padding: 12px 4px;
  }
  .score p {
    margin: 0;
  }
  .score input.score-input {
    font-size: 20px;
    grid-column: 1;
    margin: 0;
    text-align: center;
    width: 1.5em;
  }
  .score-name {
    font-weight: 700;
    grid-column: 1 / 3;
  }
  .modifier {
    margin-left: 3px;
  }
}

@layer overrides {
  dl.scores {
    & > div {
      margin: 0;
    }

    & dd {
      font-size: 0.9rem;
    }
    & dt {
      font-size: 1rem;
    }
  }
}
