@layer components {
  .editable-cell {
    align-items: center;
    border: 1px solid transparent;
    border-right: 1px solid var(--c-border);
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    /* so borders on hover don't look nasty */
    margin: -1px 0 -1px -1px;
    padding: 0 5px;
    position: relative;
    /* this is a less than ideal way to fix
    the visual bug where shift clicking
    to multiselect briefly selects all
    the text in between.
    */
    user-select: none;

    &:last-of-type {
      border-right: 0;
    }

    &:focus-within,
    &.selected {
      border: 1px solid var(--c-border-selected);
    }

    &:focus-within:not(:hover)::after,
    &.selected:not(:hover)::after {
      background: var(--c-border-selected);
      bottom: -1px;
      content: '';
      height: 1px;
      left: -1px;
      position: absolute;
      width: 100%;
    }

    &:focus-within:not(:hover)::before,
    &.selected:not(:hover)::before {
      background: var(--c-border-selected);
      content: '';
      height: 100%;
      position: absolute;
      right: -1px;
      top: -1px;
      width: 1px;
    }

    &:hover:not(:focus-within):not(.selected) {
      border: 1px solid var(--c-border-hover);
    }
  }

  .editable-cell input {
    background: var(--c-bg);
    border: 1px solid var(--c-border);
    color: var(--c-text);
    display: flex;
    font-size: 0.75em;
    justify-content: center;
    left: 10%;
    padding: 5px;
    position: absolute;
    top: 80%;
    width: 100%;
    z-index: 1;
  }

  .editable-cell .autocomplete-result {
    white-space: pre;
  }
  .editable-cell .autocomplete-result.add {
    color: var(--c-text-increase);
  }
  .editable-cell .autocomplete-result.subtract {
    color: var(--c-text-decrease);
  }
}
