@keyframes :global(gradient-slide) {
  from {
    background-position-x: 0%;
  }
  from {
    background-position-x: 100%;
  }
}

@layer components {
  .initiative {
    border-right: 10px solid var(--c-border-thick);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr min-content;
    height: 100vh;
    justify-items: stretch;
  }

  .rows {
    grid-column: 1 / 4;
    margin: 0;
    padding: 0;
  }

  .cell {
    align-items: center;
    border-right: 1px solid var(--c-border);
    display: flex;
    justify-content: space-between;
    padding: 0 10px;

    &:last-of-type {
      border-right: 1px solid transparent;
    }
  }

  .button-container {
    align-items: center;
    display: flex;
    gap: 16px;
    grid-column: 1 / 4;
    justify-content: flex-end;
    padding: 16px 32px;
  }

  .button {
    background: transparent;
    color: var(--c-text);
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 24px;
    text-transform: lowercase;
  }

  /* TODO: Make this stretch only up to 225px wide */
  .start-button:global {
    animation: 1800ms gradient-slide infinite alternate ease-in-out;
    background: linear-gradient(
      21deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-size: 300%;
    border: 0;
    color: var(--c-text-white);
    outline: 1.75px solid transparent;
    transition: var(--t-short) ease-in-out;
    transition-property: border-radius, outline-color;

    &:disabled {
      background: transparent;
      cursor: not-allowed;
    }

    &:hover {
      outline: 1.75px solid var(--c-text);
    }

    &:disabled:hover {
      outline: 1.75px solid var(--c-border-hover);
    }
  }

  .sort-button {
    align-self: stretch;
    border: 1px solid transparent;
    border-radius: 0;
    display: grid;
    flex-shrink: 1;
    font-size: 0.5em;
    font-weight: 500;
    margin-bottom: -1px;
    margin-left: 5px;
    margin-right: -11px;
    padding: 0 8px 0 8px;
    place-items: center;
    text-transform: uppercase;
    writing-mode: sideways-rl;

    &:hover {
      border: 1px solid var(--c-border-hover);
    }
  }
}
