@layer components {
  .row {
    border-bottom: 1px solid var(--c-border);
    display: grid;
    grid-template-columns:
      minmax(137px, 1fr)
      minmax(200px, 2fr)
      minmax(180px, 1fr)
      2fr;
    height: 60px;
    position: relative;

    &.is-turn::after:global {
      animation: 1800ms gradient-slide infinite alternate ease-in-out;
      background: linear-gradient(
        48deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
      );
      background-size: 300%;
      content: '';
      height: 100%;
      right: -10px;
      position: absolute;
      width: 10px;
    }
  }
}
