@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer components {
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-item-skeleton {
    border-bottom: 1px solid var(--c-border);
    height: 83px;
    width: 100%;
  }

  .loading {
    // animation: 240ms 100ms fadein ease-in backwards;
  }
}
