@layer components {
  .container {
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-columns: 2fr 1fr;
    padding: 20px;

    & h2 {
      font-size: 48px;
      grid-column: span 2;
      margin: 0 0 10px;
    }
    & hr {
      grid-column: 1 / -1;
      margin: 0 0 20px;
      width: 100%;
    }
    & > input {
      font-size: 20px;
      grid-column: 1 / -1;

      &.small-input {
        grid-column: 2 / 3;
      }
    }
    & section {
      margin-bottom: 20px;
    }
    & input,
    & select,
    & textarea {
      background: transparent;
      border: 0;
      border-bottom: 1px solid var(--c-border-prominent);
      color: var(--c-text);
      display: block;
      line-height: 1.4em;
      margin-bottom: 20px;
      margin-right: 40px;

      &:active,
      &:focus {
        border-bottom: 1px solid var(--c-input-active);
        outline: none;
      }
    }
    & section textarea {
      height: 30px;
      resize: vertical;
    }
  }

  .long-trait {
    display: block;
    grid-column: 1 / 3;

    & input,
    & textarea {
      width: calc(100% - 40px);
    }
    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  .long-trait input {
    grid-column: span 1;
    float: left;
  }

  .trait-editor {
    display: grid;
    gap: 3px;
    grid-column: 1 / 4;
    grid-template-columns: 1fr max-content;

    & h3 {
      grid-column: 1 / 3;
      margin: 0 0 16px;
    }
    & label {
      font-weight: 700;
    }
    & textarea {
      font-size: 16px;
    }
    & input,
    & textarea {
      grid-column: 1 / -1;
      margin: 0;
      padding: 4px 4px 4px 0;

      &:not(:last-of-type) {
        margin-bottom: 28px;
      }
    }
    & input[type='checkbox'] {
      cursor: pointer;
      grid-column: span 1;
    }
    & label,
    & input {
      font-size: 18px;
    }
  }

  .item-editor {
    gap: 16px;
    grid-template-columns: 1fr 1fr;

    & h3 {
      grid-column: 1 / 3;
      margin: 0 0 16px;
    }
    & input[type='checkbox'] {
      cursor: pointer;
      grid-column: span 1;
      justify-self: start;
    }
    & input {
      font-size: 18px;
      margin: 0;
    }
    & label,
    & legend {
      font-weight: 700;
      padding: 0;
    }
    & label,
    & legend,
    & select {
      cursor: pointer;
      font-size: 16px;
      margin: 0;
    }
    & option {
      background: var(--c-bg);
      border: 1px solid var(--c-border-prominent);
      color: var(--c-text);
    }
    & textarea {
      grid-column: 1 / 3;
      resize: vertical;
    }
  }

  .add-button {
    display: flex;
    grid-column-end: -1;
    margin-top: 20px;
    padding-left: 20px;
    text-transform: lowercase;
  }

  .save-button {
    justify-self: end;
    grid-column: 2 / 3;
  }

  .description.trait-editor textarea {
    margin: 20px 0;
  }

  .components-container {
    border: 0;
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  .components-inputs {
    display: flex;
    gap: 8px;
    grid-column: 2 / 3;
    grid-row: 1;

    & input:not(:last-of-type) {
      margin-right: 12px;
    }
  }
}
