@layer components {
  .expanded-item {
    --paragraph-spacing: 0.75rem;
    align-items: baseline;
    border-bottom: 1px solid var(--c-border);
    color: var(--c-text-secondary);
    display: block;
    font-size: 0.8rem;
    gap: 8px;
    grid-template-columns: 1fr min-content;
    line-height: 1.2;
    padding: 20px;
    padding-right: 40px;
    white-space: pre-wrap;

    & dl {
      margin-bottom: 20px;

      & dd {
        display: inline;
        margin: 0;
      }

      & dt {
        display: inline;
        font-weight: 700;
      }

      & > div {
        margin-bottom: 5px;
      }
      & > div.spaced {
        line-height: 1.42;
        margin-bottom: var(--paragraph-spacing);
      }
      & > div:last-of-type {
        margin: 0;
      }

      & li {
        margin-bottom: 0;
      }

      & li:not(:last-of-type)::after {
        content: ', ';
      }

      & ul.inline {
        display: inline-flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }

    & h2 {
      font-size: 2.8rem;
      line-height: 1.2em;
      margin: 0 0 6px;
    }

    & h3 {
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }

    & li {
      margin-bottom: 4px;
    }

    & p {
      line-height: 1.42;
      margin-bottom: var(--paragraph-spacing);
    }

    & .button-group {
      margin-bottom: 1rem;
    }

    & .meta {
      font-size: 0.8rem;
      font-style: italic;
      margin: 0;
    }

    & .title-group {
      cursor: pointer;
      margin: -20px -60px 0.5rem -20px;
      padding: 20px 10px 10px 20px;
      // + the negative right margin
      max-width: calc(100% + 60px);

      &:hover {
        background: var(--c-bg-hover);
      }
    }
  }

  .markdown {
    line-height: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    & h1 {
      font-size: 1.3rem;
    }

    & h2 {
      font-size: 1.2rem;
    }

    & h3 {
      font-size: 1.1rem;
    }

    & p {
      margin: 0;
    }
  }
}
