@layer components {
  .list-item {
    align-items: baseline;
    display: grid;
    gap: 8px;
    grid-template-columns: max-content 1fr;
    border-bottom: 1px solid var(--c-border);
    color: var(--c-text-secondary);
    cursor: pointer;
    padding: 20px;

    &.two-line {
      gap: 4px;
      grid-template-columns: 1fr;
    }

    &:hover,
    &.selected {
      background: var(--c-bg-hover);
    }

    h2 {
      font-size: 1.4rem;
      margin: 0;
    }

    p {
      font-size: 0.75rem;
      font-style: italic;
    }
  }
}
