@layer components {
  .add-button {
    align-self: center;
    height: 40px;
    justify-self: end;
    padding: 0 16px 0 10px;
  }

  .header {
    display: grid;
    gap: 20px 32px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;

    & h1 {
      font-size: 1.6rem;
      grid-column: 1 / 3;
      margin: 0;
    }
  }

  .search {
    background: transparent;
    border: 0;
    border-bottom: 1px solid var(--c-border);
    color: var(--c-text);
    font-size: 24px;
    transition: 160ms border-color;
    width: 100%;

    &:active,
    &:focus {
      border-bottom: 3px solid var(--c-input-active);
      margin-bottom: -2px;
      outline: none;
    }
  }
}
