@layer components {
  .container {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
  }

  .info-button {
    --size: 32px;
    background: var(--c-bg-button);
    border: 0;
    border-radius: 50%;
    color: var(--c-text-secondary);
    cursor: pointer;
    display: grid;
    height: 32px;
    padding: 0;
    place-items: center;
    width: 32px;

    &:hover {
      background: var(--c-bg-button-hover);
    }
  }

  .nav {
    align-items: center;
    border-bottom: 1px solid var(--c-border);
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding-right: 16px;
  }

  .tab {
    cursor: pointer;
    display: grid;
    font-size: 16px;
    letter-spacing: 0.01em;
    padding: 0 24px;
    place-items: center;
    text-transform: uppercase;
    transition: 160ms background-color ease-in-out;

    &:hover {
      background: var(--c-bg-hover);
    }

    &.selected {
      border-bottom: 1px solid var(--c-border-selected);
      margin-bottom: -1px;
    }
  }

  .tabs {
    align-items: stretch;
    display: flex;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .tab-panel {
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
}
