@layer base, components, overrides;

:root {
  --c-add-hover: #e6ffdf;
  --c-bg: #fbfbfb;
  --c-bg-button: #e5e6e9;
  --c-bg-button-focus: #ccf1bf;
  --c-bg-button-hover: #dbdbdc;
  --c-bg-dialog: #fff;
  --c-bg-hover: #f4f4f4;
  --c-border: #cdcdcd;
  --c-border-contrast: #161616;
  --c-border-hover: #9c9c9c;
  --c-border-prominent: #444444;
  --c-border-selected: #49aaf5;
  --c-border-thick: #d0d0d0;
  --c-input-active: #4e95ff;
  --c-link: #2256f3;
  --c-link-visited: #9e02ab;
  --c-link-focus: #1ab50d;
  --c-text-black: #161616;
  --c-text-white: #ececec;
  --c-text: var(--c-text-black);
  --c-text-secondary: #323232;
  --c-text-increase: #075dcc;
  --c-text-decrease: #db3e00;

  --f-sans-serif: 'Open Sans', 'Helvetica', Arial, ui-sans-serif, sans-serif;
  --f-serif: 'Literata', Times New Roman, ui-serif, serif;

  --t-short: 240ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-add-hover: #0f2f15;
    --c-bg: #0d0e0c;
    --c-bg-button: #36373c;
    --c-bg-button-focus: #3a4e37;
    --c-bg-button-hover: #4b4d59;
    --c-bg-dialog: #1d1e20;
    --c-bg-hover: #121310;
    --c-border: #222;
    --c-border-contrast: #a4a4a4;
    --c-border-prominent: #646464;
    --c-border-hover: #363636;
    --c-border-selected: #0a4673;
    --c-border-thick: #171717;
    --c-input-active: #1c6ce8;
    --c-link: #6b8df3;
    --c-link-visited: #cd5acd;
    --c-link-focus: #76f36b;
    --c-text: var(--c-text-white);
    --c-text-secondary: #ccc;
    --c-text-increase: #347ddb;
    --c-text-decrease: #e86414;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--c-bg);
    font-family: var(--f-sans-serif);
    font-weight: 400;
    color: var(--c-text);
  }

  #app {
    display: grid;
    grid-template-columns: 65% 35%;
  }

  a {
    color: var(--c-link);
  }

  a:focus {
    color: var(--c-link-focus);
  }

  a:visited:not(:focus) {
    color: var(--c-link-visited);
  }

  button {
    --icon-size: 1.2rem;
    background: transparent;
    border: 1.75px solid transparent;
    border-left-color: var(--c-text);
    border-radius: 0;
    color: var(--c-text);
    cursor: pointer;
    display: flex;
    gap: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    padding: 12px;
    place-items: center;
    transition: var(--t-short) ease-in-out;
    transition-property: border-color, border-radius;
  }

  button:focus,
  button:hover {
    border: 1.75px solid var(--c-text);
    border-radius: 8px;
    outline: 0;
  }

  button svg {
    fill: var(--c-text);
    height: var(--icon-size);
    width: var(--icon-size);
  }

  button,
  input,
  select,
  select option,
  textarea {
    font-family: var(--f-sans-serif);
  }

  h1,
  h2,
  h3 {
    font-family: var(--f-serif);
  }

  hr {
    border: 0;
    border-bottom: 1px solid var(--c-border);
    margin: 0 0 1rem;
  }

  p {
    margin: 0;
  }

  /* for screen reader text */
  .visually-hidden {
    border: 0 !important;
    clip: rect(0, 0, 0, 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }
}
